name: Verify and Release

permissions:
  issues: write
  checks: write
  contents: write
  pull-requests: write

on:
  - push
  - pull_request

env:
  LEFTHOOK: 0

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: meza/action-go-setup@main
        id: go
        name: Set up Go
        with:
          go-version: 'latest'
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Lint
        run: make lint

      - name: Check coverage
        run: make coverage

      - name: Build Distributables
        run: make build
        env:
          MODRINTH_API_KEY: ${{ secrets.MODRINTH_API_KEY }}
          CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}

#      - name: Release
#        if: ${{ steps.go.outputs.new-release-published == 'true'  }}
#        env:
#          GH_TOKEN: ${{ secrets.GH_TOKEN }}
#        run: |
#          npx semantic-release
