name: Sync Main to Deps
on:
  push:
    branches:
      - main

jobs:
  sync-branches:
    runs-on: ubuntu-latest
    name: Syncing branches
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Opening pull request
        id: pull
        uses: tretuna/sync-branches@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FROM_BRANCH: "main"
          TO_BRANCH: "dependency-update"
          PULL_REQUEST_TITLE: "chore: sync main to deps"
          PULL_REQUEST_AUTO_MERGE_METHOD: "merge"
          CONTENT_COMPARISON: true
